body {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.off-canvas {

    height: 100%;
    background: #121212 none repeat scroll 0 0;
    color: #fff;
}

.js-off-canvas-exit {
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background: none;
    width: 100%;
}

.close-button {
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    line-height: 1;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 999;
}

.columns-no-margin{
     padding-left: 0rem;
    padding-right: 0rem;
}
.row-no-margin{
     margin-left: 0rem;
    margin-right: 0rem;
    width:auto;
}
.title-bar {
    background: #fff none repeat scroll 0 0;
    color: #fefefe;
    padding: 0.5rem;
    transition: all 0.8s linear 0s;
    z-index: 9;
    height: 50px;
    width: 100%;
}

.menu-trigger-folio span {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.portfolio-menu span {
    display: inline-block;
    font-size: 18px;
    line-height: 14px;
    color: #000;
    ont-weight: bold;
}
.portfolio-menu span.ion-android-menu{
    display: inline-block;
    font-size: 18px;
    line-height: 14px;
    color: #000;
    ont-weight: bold;
}


.main-menu span {
    display: inline-block;
    font-size: 18px;
    line-height: 14px;
    color: #000;
    ont-weight: bold;
}

#portfolio img{
width: 100%;
margin-top: 44px;
margin-bottom: 44px;
}
.content-portfolio{
height: 500px;
width: 100%;
background-position: center center;
background-repeat:  no-repeat;
background-size:  cover;
background-color: #999;
cursor: pointer;
}





.content-text {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
height:100%;
display: block;
position: relative;
color: #fff;
padding: 0.5em;
}

.message {
bottom: 0;
display: block;
position: absolute;
color: #fff;
padding: 0.5em;
}
.message h1{
font-size: 1rem;
}
.z-depth-2 {
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3 {
box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4, .modal {
box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5 {
box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.hoverable {
transition: box-shadow .25s;
box-shadow: 0;
}
.hoverable:hover {
transition: box-shadow .25s;
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-wrapper {
position: relative; }

.logo-wrapper .logo {
    position: relative;
    text-align: center;
    z-index: 1;
}


.icon-menu{
	position: relative;
	top: 2px;
}
/* custom css foundation drilldown */
.is-drilldown-submenu-parent > a::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #fff;
    border-image: none;
    border-style: inset inset inset solid;
    border-width: 6px 0 6px 6px;
    content: "";
    display: block;
    height: 0;
    margin-top: -6px;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 0;
}

ul#menu-portfolio-menu{
  position: relative;
  top: 120px;
  height: 100vh;
}
ul#menu-portfolio-menu li {
  list-style: none;
}

ul#menu-portfolio-menu li a {
  color: #fff;
  font-family: "Nunito",sans-serif;
  font-size: 2.23vw;
  font-weight: 800;
  line-height: 2.1vw;
  text-decoration: none;
  text-transform: uppercase;
}

ul#menu-primary{
  position: relative;
  top: 120px;
  height: 100vh;
}

ul#menu-primary li  {
 list-style: none;
}

ul#menu-primary li a {
  color: #fff;
  font-family: "Nunito",sans-serif;
  font-size: 2.23vw;
  font-weight: 800;
  line-height: 2.1vw;
  text-decoration: none;
  text-transform: uppercase;
}

.is-drilldown-submenu {
    background: #121212 none repeat scroll 0 0;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    transition: transform 0.15s linear 0s;
    width: 100%;
    z-index: -1;
}

.js-drilldown-back > a::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #fff transparent transparent;
    border-image: none;
    border-style: inset solid inset inset;
    border-width: 6px 6px 6px 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-right: 0.75rem;
    vertical-align: middle;
    width: 0;
}
/* Individual effects */

.image-overlay-effect {
    height: 100%;
    margin: 0;
    width: 100%;
}

.start-caption{
	color: #fff;
}

.start-caption a{
	color: #fff;
}

/*---------------*/
/***** Lily *****/
/*---------------*/

.image-overlay-effect.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

.image-overlay-effect.effect-lily .start-caption {
	text-align: left;
}

.image-overlay-effect.effect-lily .start-caption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

.image-overlay-effect.effect-lily h2,
.image-overlay-effect.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.image-overlay-effect.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.image-overlay-effect.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.image-overlay-effect.effect-lily:hover img,
.image-overlay-effect.effect-lily:hover p {
	opacity: 1;
}

.image-overlay-effect.effect-lily:hover img,
.image-overlay-effect.effect-lily:hover h2,
.image-overlay-effect.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.image-overlay-effect.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}




/*---------------*/
/***** Oscar *****/
/*---------------*/



.image-overlay-effect.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.image-overlay-effect.effect-oscar .start-caption {
	padding: 3em;

}



.image-overlay-effect.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.image-overlay-effect.effect-oscar .start-caption::before,
.image-overlay-effect.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.image-overlay-effect.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.image-overlay-effect.effect-oscar:hover .start-caption::before,
.image-overlay-effect.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.image-overlay-effect.effect-oscar:hover .start-caption {
	background-color: rgba(58,52,42,0);
}

.image-overlay-effect.effect-oscar:hover img {
	opacity: 0.4;

}


ul#credits  {

    position: relative;
    margin-top: 22px
}


ul#credits > li {
    line-height: 18px;
    list-style: outside none none;

}

#previous a{
	font-size: 16px;
	font-weight: bold;
	color: #121212;

}

#previous span{
	font-size: 16px;
	font-weight: bold;
	color: #ccc;

}

#next span{
	font-size: 16px;
	font-weight: bold;
	color: #ccc;

}

#next a{
	font-size: 16px;
	font-weight: bold;
	color: #121212;

}

#previous{
	 width: 33.3333% !important;
	 float: left;
	 min-height: 50px;

}

#next{
	 width: 33.3333% !important;
	 float: left;
	 min-height: 50px;

}

#share{
	 width: 33.3333% !important;
	 float: left;
	 min-height: 50px;

}

#share a{
	font-size: 16px;
	font-weight: bold;
	color: #121212;
	text-transform: uppercase;

}

#share span{
	font-size: 16px;
	font-weight: bold;
	color: #ccc;

}

#share-panel {
    background-color: #ccc;
    bottom: -45px;
    display: block;
    height: 45px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.condividi{
	font-size: 16px;
	font-weight: bold;
	color: #121212;
}

.margine-basso{
	position: relative;
	margin-bottom: 22px;
}

.margine-alto{
	position: relative;
	margin-top: 22px;
}
.page-template-contact-php, .page-template-contactpage-php  h1 {
	color: #121212;
	text-transform: uppercase;
	text-align: center;
}

.full-height{
	height: 100vh;
}

.wpcf7-form label{
	color: #121212;
	border-width: .5rem;
}
.wpcf7-submit{
    border: 2px solid #777;
    color: #777;
    background-color: transparent;
     display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/* overlay css  */

.pageload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 900;
}
.pageload-overlay.show {
    visibility: visible;
}
.pageload-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.pageload-overlay svg path {
    fill: #303030;
}
.pageload-overlay::after,
.pageload-overlay::before {
    content: '';
    position: fixed;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
    transition: opacity 0.15s, visibility 0s 0.15s;
}
.pageload-overlay::after {
    background: #ffb598;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-animation: moveRight 0.6s linear infinite alternate;
    animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
    background: #ffb598;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-animation: moveLeft 0.6s linear infinite alternate;
    animation: moveLeft 0.6s linear infinite alternate;
}
@-webkit-keyframes moveRight {
    to { -webkit-transform: translateX(20px); }
}
@keyframes moveRight {
    to { transform: translateX(20px); }
}
@-webkit-keyframes moveLeft {
    to { -webkit-transform: translateX(-20px); }
}
@keyframes moveLeft {
    to { transform: translateX(-20px); }
}
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: #000;
   z-index: 99;
   text-align: center;
}

.barba-container{
  visibility: hidden;
}

img.play{
  position: relative;
  top: 35%;

}

/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#swipebox-slider {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-slider .slide-loading {
  background: url(../img/loader.gif) no-repeat center center;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-bottom-bar {
  bottom: -50px;
}
#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

#swipebox-top-bar {
  top: -50px;
}
#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

#swipebox-prev {
  background-position: -32px 13px;
  float: left;
}

#swipebox-next {
  background-position: -78px 13px;
  float: right;
}

#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}

.swipebox-no-close-button #swipebox-close {
  display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
          animation: rightSpring 0.3s;
}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
          animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
.swipebox-touch #swipebox-container:before {
  left: 0;
  -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
          box-shadow: inset 10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-container:after {
  right: 0;
  -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
          box-shadow: inset -10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}

@keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  #swipebox-close {
    right: 10px;
  }

  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95;
}

#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Search button
--------------------------*/
.wrapper {

  overflow: hidden;

  display: inline-block;

  border: 2px solid #008cba;

  border-radius: 999px;

  text-align: center;

  width: 100%;

  background: #fff;

  margin-top: 50px;

}



.wrapper:hover {

  border: none;

  background-color: #008cba;

  transition: background-color 0.3s ease;

}



.wrapper:hover .inside {

  display: block;

  font-size: 16px;

  padding: 22px;

  float: left;

}



.wrapper:hover .inside:hover {

  transition: background-color 0.3s ease;

  background-color: rgba(0, 0, 0, 0.1);

}



.wrapper:hover label {

  display: none;

}



.wrapper .inside {

  display: none;

  color: #fff;

  width: 50%;

  z-index: 9999;

}



.wrapper label {

  padding: 16px;

  color: #008cba;

  font-size: 16px;

  font-weight: bold;

}
/* Small only */
@media screen and (max-width: 39.9375em) {

  ul#menu-portfolio-menu li a {
    color: #fff;
    font-family: "Nunito",sans-serif;
    font-size: 5.23vw;
    font-weight: 800;
    line-height: 4.1vw;
    text-decoration: none;
    text-transform: uppercase;
  }

  .image-overlay-effect.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    position: absolute;;
    top: 45%;
}
.image-overlay-effect.effect-oscar p {
display: none;
}
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}


/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
